<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #333D79FF;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .result-container {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-color: #FAEBEFFF;
            text-align: center;
            width: 300px;
        }
        .result-header {
            margin-bottom: 20px;
        }
        .dynamic-text {
            color: #333D79FF;
        }
        .static-text {
            color: #000; /* Black */
        }
        .play-again-button {
            padding: 10px 20px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            background-color: #333D79FF;
            color: #FAEBEFFF;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }
        .play-again-button:hover {
            background-color: #333D79FF;
        }
    </style>
</head>
<body>
    <div class="result-container">
        <h2 class="result-header"><span class="static-text">Your Choice:</span> <span class="dynamic-text">{{user_choice}}</span></h2>
        <h2 class="result-header"><span class="static-text">Our Choice:</span> <span class="dynamic-text">{{computer_choice}}</span></h2>
        <h2 class="result-header"> <span class="dynamic-text" font-size="25px">{{game_result}}</span></h2>
        <a href="/" class="play-again-button">Play Again</a>
    </div>
</body>
</html>
